:root {
    --main-background-color: rgb(41, 41, 41);
    --primary-text-color: rgb(224, 224, 224);
    --primary-text-color-hover: rgb(215, 230, 255);
    font-family: monospace;
    font-size: 16px;
}

body {
    background-color: var(--main-background-color);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 100px;
}

.info {
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
}

.info-content {
    margin-left: 20px;
}

.email, .github {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -16px;
    gap: 10px;
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
}

a:hover {
    color: var(--primary-text-color-hover);
}