:root {
    --main-background-color: rgb(41, 41, 41);
}

body {
    background-color: var(--main-background-color);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 100px;
}

.info {
    color: white;
    display: flex;
    flex-direction: column;
    
}